$grey-text: #2C2C2C;

body{
  font-family: "Helvetica Neue";
  color: $grey-text;
}

.header-own{
  background-image: URL("../../medias/pictures/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.navbar-own{
  text-align: right;
  margin-top: 10px;
}

.navbar-menu{
  margin-left: 10px;
  margin-right: 10px;
}

.header-txt-div{
  margin-left: 40px;
}

.header-timothe{
  margin-top: 60px;
  font-size: 75px;
}

.header-txt{
  font-size: 25px;
}

.header-boutton{
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 8px;
  color: white;
  margin-top: 30px;
  padding: 8px 15px 8px 15px;
}

.shadow-own{
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.65);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.65);
}

.header-card{
  background-color: white;
  width: 300px;
  color: #18587A;
  padding: 12px;
  border-radius: 6px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 0;
  margin-left: auto;
}

.header-card-div{
  margin-right: 70px;
  margin-top: 50px;
  margin-bottom: 170px;
}


.content-title{
  font-size: 45px;
  margin-top: 100px;
  color: #454545;
  margin-left: 40px;
}

.txt-content{
  font-size: 25px;
  margin-top: 20px;
  color: #95989A;
  margin-left: 40px;
  margin-bottom: 80px;
}

.bandeau-site-web-responsive{
  z-index: 2;
  margin-top: -160px;
  margin-bottom: -160px;
}

.responsive-web{
  width: 100%;
  margin-bottom: 50px;
}

.fct-card{
  width: 220px;
  height: 220px;
  background-color: white;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fct-icon{
  width: 120px;
  margin-top: 20px;
}

.fct-icon-txt{
  color: #9B9E9F;
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}

.parralax{
  background-image: url(../../medias/pictures/parralax.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 500px;
}

.parralax-title{
  font-size: 54px;
  font-weight: 500;
}

.parralax-txt{
  font-size: 30px;
  margin-top: 20px;
  font-weight: 200;
}

.tarif-card{
  background-color: white;
  height: 420px;
  width: 320px;
  border-radius: 6px;
  margin-top: -70px;
  margin-bottom: 50px;
}

.tarif-button{
  background-color: #18587A;
  color: white;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-style: solid;
  border-width: 2px;
  border-color: #18587A;
  border-radius: 3px;
  font-size: 30px;
}

.card-title{
  text-align: center;
  padding-top: 25px;
}

.card-grey-line{
  background-color: #EAEAEA;
  text-align: left;
  padding: 8px;
  display: flex;
}

.card-white-line{
  text-align: left;
  padding: 8px;
  display: flex;
}

.footer{
  padding: 12px 50px 12px 50px;
}

.footer-title{
  font-size: 45px;
}

.footer-content{
  font-size: 15px;
  font-weight: 200;
}

.footer-button{
  border-style: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 50px;
  padding: 0px 40px 0px 40px;
  color: white;
  font-size: 20px;
  background-color: transparent;
  margin-top: 20px;
}

.footer-picto{
  width: 60px;
}

.parralax-button{
  margin-top: 20px;
  margin-right: 20px;
  width: 251px;
}

@media screen and (max-width: 1250px) {
  .txt-content {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .tarif-card{
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 1120px) {
  .content-title {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .content-title {
    margin-top: 40px;
    font-size: 30px;
  }
  .txt-content {
    font-size: 16px;
    margin-bottom: 0px;
  }
  .bandeau-site-web-responsive {
    margin-bottom: 20px;
  }
  .responsive-web {
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 915px) {
  .header-timothe{
    font-size: 60px;
  }
}

@media screen and (max-width: 767px) {
  .header-card{
    margin-left: auto;
    margin-right: auto;
  }
  .header-txt-div{
    text-align: center;
    margin-left: 0;
  }
  .header-card-div{
    margin-right: 0;
    margin-bottom: 70px;
  }
  .footer{
    text-align: center;
  }
  .footer-title{
    margin-top: 20px;
  }
  .responsive-web {
    width: 70%;
  }
  .txt-content {
    margin-bottom: 30px;
  }
  .txt-content {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .parralax {
    height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .parralax-title {
    font-size: 28px;
  }
  .parralax-txt {
    width: 100%;
    font-size: 16px;
  }
}

@media screen and (max-width: 607px) {
  .div-parralax-button {
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 409px) {
  .header-timothe {
    font-size: 45px;
  }
}